@if (featured) {
  <a [class]="tileClasses" [routerLink]="['/live', match.id]">
    <header class="live-tile__top">
      <span class="live-tile__comp">
        {{ match.competition.name }}
        @if (match.competition.code !== 'INT') {
          <span class="live-tile__comp-tag">/ FEATURED</span>
        }
      </span>
      <span class="live-tile__minute">
        @switch (match.status) {
          @case ('live') {
            <span class="live-tile__pulse"></span>
            LIVE {{ match.minute }}'
          }
          @case ('halftime') { HALF TIME }
          @case ('finished') { FULL TIME }
          @default { {{ match.status }} }
        }
      </span>
    </header>

    <div class="live-tile__hero">
      <div class="live-tile__team">
        <span class="live-tile__team-short">{{ match.home.team.shortName ?? match.home.team.name }}</span>
        <span class="live-tile__team-name">{{ match.home.team.name }}</span>
      </div>
      <div class="live-tile__score">
        <span>{{ match.home.score }}</span>
        <span class="live-tile__score-divider">/</span>
        <span>{{ match.away.score }}</span>
      </div>
      <div class="live-tile__team live-tile__team--away">
        <span class="live-tile__team-short">{{ match.away.team.shortName ?? match.away.team.name }}</span>
        <span class="live-tile__team-name">{{ match.away.team.name }}</span>
      </div>
    </div>
  </a>
} @else {
  <a [class]="tileClasses" [routerLink]="['/live', match.id]">
    <header class="live-tile__header">
      <span class="live-tile__competition">{{ match.competition.code }}</span>
      <span class="live-tile__status">
        @switch (match.status) {
          @case ('live') {
            <span class="live-tile__pulse live-tile__pulse--lime"></span>
            LIVE {{ match.minute }}'
          }
          @case ('halftime') { <span class="live-tile__status--ht">HALF TIME</span> }
          @case ('finished') { FT }
          @default { {{ match.status }} }
        }
      </span>
    </header>
    <div class="live-tile__teams">
      <div class="live-tile__row">
        <span class="live-tile__team-line">{{ match.home.team.name }}</span>
        <span class="live-tile__row-score" [class.live-tile__row-score--leading]="match.home.score > match.away.score">{{ match.home.score }}</span>
      </div>
      <div class="live-tile__row">
        <span class="live-tile__team-line">{{ match.away.team.name }}</span>
        <span class="live-tile__row-score" [class.live-tile__row-score--leading]="match.away.score > match.home.score">{{ match.away.score }}</span>
      </div>
    </div>
  </a>
}
